/* ! ------------------------------------------------------------------------ */
/* !                                 CONTENT                                  */
/* ! ------------------------------------------------------------------------ */

h1 {
  font-size: 4rem;
  padding-top: 2rem;
}

.title-container {
  text-align: center;
}

.link-to-example {
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
  cursor: pointer;
  background-color: dodgerblue;
  text-align: center;
}

body {
  height: 100svh;
  display: flex;
  align-items: center;
}
