@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100dvh;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p,
h1,
h2,
h3,
h4 {
  overflow-wrap: break-word;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

a,
i,
figure,
img,
button,
input[type="button"],
input[type="submit"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
  border-style: none;
  outline-style: none;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  max-width: 1200px;
  width: min(100% - 25px, 1080px);
  margin-inline: auto;
  box-sizing: border-box;
}

/* ! ------------------------------------------------------------------------ */
/* !                                 CONTENT                                  */
/* ! ------------------------------------------------------------------------ */

h1 {
  font-size: 4rem;
  padding-top: 2rem;
}

#map {
  width: 100%;
  height: 60svh;
  border-radius: 0.5rem;
}

.map-container {
  position: relative;
}

#fly-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 50%;
  transition: 0.3s all ease-in-out;
}

#fly-btn:hover {
  background-color: #000;
  color: #fff;
}

#track-btn {
  background-color: #fff;
}

.real-time-location-btn {
  background-color: dodgerblue;
}

#track-btn,
.real-time-location-btn {
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#track-btn:hover {
  background-color: #000;
  color: #fff;
}

.real-time-location-btn:hover {
  background-color: rgb(0, 99, 197);
  color: #fff;
}

.mapboxgl-control-container {
  display: none;
}

.section-title-container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  text-align: center;
}

.title-container {
  text-align: center;
}

.buttons-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 20rem);
  justify-content: center;
  padding: 4rem 0;
}

.link-to-example {
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
  cursor: pointer;
  background-color: dodgerblue;
}

body {
  height: 100svh;
  display: flex;
  align-items: center;
}
